<div class="main" >
<div class="d-flex justify-content-center">
    <img width="200px" class="p-3" src="../../assets/img/alsofer.png" alt="">
 
</div>
<h1 class="text-center m-4 text-white">Listagem de Instituições</h1>
<div class="d-flex justify-content-center align-items-center">
<jqxGrid 
[selectionmode]="'checkbox'" 
[source]="institutions" 
[theme]="'material'"
[autoheight]="true" 
[pageable]="true" 
[altrows]="true" 
[filterable]="true" 
[sortable]="true" 
[editable]="true"
[groupable]="true"
[columns]="columns" 
#grid>
</jqxGrid>  
</div>
</div>